type msensord_exec, exec_type, file_type;
type msensord, domain, domain_deprecated;

init_daemon_domain(msensord)

allow msensord msensord_daemon_sysfs:file r_file_perms;

set_prop(msensord, ctl_akmd09911_prop)
