# Guiext
allow platform_app guiext-server_service:service_manager find;

# PQ
allow platform_app pq_service:service_manager find;

# dev_info
allow platform_app sysfs_devinfo:file r_file_perms;

# thermal
allow platform_app sysfs_thermal:file r_file_perms;
