# GPS
allow system_server mnld:unix_dgram_socket sendto;
allow system_server mnld_data_file:dir w_dir_perms;
allow system_server mnld_data_file:sock_file create_file_perms;
allow system_server mnld_data_file:file create_file_perms;

# Persist
allow system_server protect_s_data_file:dir r_dir_perms;

# Sensors
allow system_server akmd_access_file1:file { getattr open read setattr write };
allow system_server hwmsensor_device:chr_file r_file_perms;

# Smart Wake
allow system_server smartwake_sysfs:file rw_file_perms;

# Wifi
allow system_server wmtWifi_device:chr_file w_file_perms;

# Debugfs
allow system_server debugfs:dir r_file_perms;

# Guiext
allow system_server guiext-server_service:service_manager find;

# wlan0 hostap
allow system_server wifi_data_file:sock_file unlink;

# dev_info
allow system_server sysfs_devinfo:file r_file_perms;

# thermal
allow system_server sysfs_thermal:file r_file_perms;
