type wmt_launcher_exec, exec_type, file_type;
type wmt_launcher, domain, domain_deprecated;

init_daemon_domain(wmt_launcher)

allow wmt_launcher stpwmt_device:chr_file rw_file_perms;

set_prop(wmt_launcher, wmt_prop)
