on fs
#sunwave
    chown system system /dev/sunwave_tee
#mircoarray
    chmod 666 /dev/madev0
    chown system system /dev/madev0
#blestech
    chmod 0666 /dev/bl229x
    chmod 0666 /dev/blfp
#goodix
chown system system /dev/goodix_fp
on post-fs-data
#mircoarray
    mkdir /data/system/ma_fingerprint 0700 system system
on boot
#goodix
service goodixfpd /system/bin/goodixfingerprintd
    class late_start
    user system
    group media_rw system
#fingerprint
service fingerprintd /system/bin/fingerprintd
    class late_start
    user system
    group system
#sunwave
service fpserver /system/bin/fpserver
    class late_start
    user root
    disabled
on property:sys.fingerprint.chip=sunwave
    start fpserver

